@import '../../styles/variables';

.forgotPassword {
    text-align: right;
    margin-bottom: $spacing-6;

    a {
        font-size: $font-size-xs;
        color: $primary-color;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
        }
    }
}

.registerLink {
    margin-top: $spacing-6;
    text-align: center;
    font-size: $font-size-sm;
    color: $text-secondary;

    a {
        color: $primary-color;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}