@import '../../styles/variables';

.badge {
    display: inline-flex;
    align-items: center;
    padding: 0.125rem $spacing-2;
    border-radius: $radius-full;
    font-size: $font-size-xs;
    font-weight: 500;
    white-space: nowrap;
}

.success {
    background-color: rgba($success-color, 0.1);
    color: darken($success-color, 10%);
}

.warning {
    background-color: rgba($warning-color, 0.1);
    color: darken($warning-color, 10%);
}

.danger {
    background-color: rgba($danger-color, 0.1);
    color: darken($danger-color, 10%);
}

.neutral {
    background-color: $background-light;
    color: $text-secondary;
    border: 1px solid $border-color;
}